<?xml version="1.0" encoding="UTF-8" ?> 
    <!DOCTYPE mapper 
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.junior.blog.dao.SystemManageDao">
	<select id="getSubscribePage" parameterType="Map"
		resultType="com.junior.blog.domain.Subscribe">
		select *
		from sys_subscribe
		order by addtime
		limit
		#{start},#{limit}
	</select>
	<select id="getSubscribePageCount" parameterType="Map"
		resultType="Integer">
		select count(*)
		from sys_subscribe
	</select>
	<delete id="deleteSubscribe" parameterType="String">
		delete from
		sys_subscribe
		where id=#{id}
	</delete>
	<insert id="insertSubscribe"
		parameterType="com.junior.blog.domain.Subscribe">
		insert into sys_subscribe(id,name,email,addtime)
		values(#{id},#{name},#{email},#{addtime})
	</insert>
	<update id="updateSubscribe"
		parameterType="com.junior.blog.domain.Subscribe">
		update sys_subscribe
		set name=#{name},email=#{email}
		where id=#{id}
	</update>
	<select id="getFriendApplyPage" parameterType="Map"
		resultType="com.junior.blog.domain.FriendApply">
		select *
		from sys_friend_apply
		order by status,applytime
		limit #{start},#{limit}
	</select>
	<select id="getFriendApplyPageCount" parameterType="Map"
		resultType="Integer">
		select count(*)
		from sys_friend_apply
	</select>
	<update id="updateFriendApplyStatus">
		update sys_friend_apply
		set status=#{status}
		where
		id=#{id}
	</update>
	<select id="findFriendApplyById" parameterType="String"
		resultType="com.junior.blog.domain.FriendApply">
		select *
		from
		sys_friend_apply
		where id=#{id}
	</select>
	<select id="findFriendMaxOrders" resultType="Integer">
		select
		ifnull(max(orders),0) +1
		from sys_friend
	</select>
	<insert id="insertFriend"
		parameterType="com.junior.blog.domain.Friend">
		insert into
		sys_friend(id,name,url,orders,addtime,status)
		values(#{id},#{name},#{url},#{orders},#{addtime},#{status})
	</insert>
	<select id="getFriendPage" parameterType="Map"
		resultType="com.junior.blog.domain.Friend">
		select *
		from sys_friend
		order by orders
		limit
		#{start},#{limit}
	</select>
	<select id="getFriendPageCount" parameterType="Map"
		resultType="Integer">
		select count(*)
		from sys_friend
	</select>
	<update id="updateFriendStatus">
		update sys_friend
		set status=#{status}
		where id=#{id}
	</update>
	<delete id="deleteFriend">
		delete
		from sys_friend
		where id=#{id}
	</delete>
	<update id="updateFriend" parameterType="com.junior.blog.domain.Friend">
		update sys_friend
		set name=#{name},url=#{url},orders=#{orders}
		where id=#{id}
	</update>
	<insert id="insertFriendApply"
		parameterType="com.junior.blog.domain.FriendApply">
		insert into
		sys_friend_apply(id,name,url,applytime,status)
		values(#{id},#{name},#{url},#{applytime},#{status})
	</insert>
	<select id="findCountByEmail" resultType="Integer">
		select count(*)
		from sys_subscribe
		where email=#{email}
	</select>
	<select id="findCountByFriend" resultType="Integer">
		select count(*)
		from sys_friend
		where url=#{url}
	</select>
	<select id="findCountByFriendApply" resultType="Integer">
		select count(*)
		from sys_friend_apply
		where url=#{url}
	</select>
</mapper> 

